.positionRelative {
  position: relative;
}

.positionAbsolute {
  position: absolute;
}

.displayNone {
  display: none !important;
}

.displayNoneI {
  display: none !important;
}

.displayIB {
  display: inline-block;
}

.displayIBI {
  display: inline-block !important;
}

.displayBlock {
  display: block;
}

.displayBlockI {
  display: block !important;
}

.opacity0 {
  opacity: 0;
}

.opacity0i {
  opacity: 0 !important;
}

.opacity50 {
  opacity: 0.5;
}

.opacity15 {
  opacity: 0.15;
}

.opacity25 {
  opacity: 0.25;
}

.opacity35 {
  opacity: 0.35;
}

.opacity100 {
  opacity: 1 !important;
}

.opacity100notI {
  opacity: 1;
}

.vh100 {
  height: 100vh;
}

.vh40 {
  height: 40vh;
}

.width0 {
  width: 0px;
}

.w100P {
  width: 100%;
}

.w100PI {
  width: 100% !important;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignCenterI {
  text-align: center !important;
}

.alignRight {
  text-align: right;
}

.alignRightI {
  text-align: right !important;
}

.alignSelfEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.right0 {
  right: 0;
}

.bottom0 {
  bottom: 0;
}

.allcaps {
  text-transform: uppercase;
}

.alignEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.alignSelfStart {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.alignSelfCenter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.alignSelfEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.absoluteBottom {
  position: absolute;
  bottom: 0;
}

.absoluteTop {
  position: absolute;
  top: 0;
}

.height0 {
  height: 0%;
}

.height0I {
  height: 0% !important;
}

.cursorNone {
  cursor: none;
}

.displayInlineBlockI {
  display: inline-block !important;
}

.overflowHidden {
  overflow: hidden;
}

.overflowUnset {
  overflow: unset;
}

.overflowUnsetI {
  overflow: unset !important;
}

.justifyContentEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justifyContentEndI {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.justifyContentCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignContentCenter {
  -ms-flex-line-pack: center;
      align-content: center;
}

.alignItemsBaseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.alignItemsEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.margin0 {
  margin: 0;
}

.margin0I {
  margin: 0 !important;
}

.flexCol {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexColI {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breakWord {
  word-wrap: break-word;
}

.wordBreakAll {
  word-break: break-all;
}
/*# sourceMappingURL=styleByName.1.1.css.map */